@font-face {
  font-family: 'MapoBackpacking';
  src: url('assets/font/MapoBackpacking.woff2') format('woff2'),
    url('assets/font/MapoBackpacking.woff') format('woff'),
    url('assets/font/MapoBackpacking.ttf') format('truetype'),
    url('assets/font/MapoBackpacking.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoreDream';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CoreDream', sans-serif;
}
